.titulo{
    border-bottom: 1px dotted #ccc!important;
}

.projectCard{
    border: 2px solid #b40b17;
    border-radius: 4px;
    background: #ffe5e7;
    text-align: center;
}

.itens-right-top{
    display: inline;
    margin-right: 5px;
    padding: 0px;
}

.table > thead > tr > th {
    background: #222;
    border: #222;
    color:white;
    text-align: center;
}

.table > tbody > tr > td{
    text-align: center;
}

.nopadl{
    padding-left: 0px;
}

.sessionSprintTitle{
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.sessionSprint{
    width: 100%;
    height: auto;
    min-height: 380px;
    max-height: 500px;
    border: 2px solid #1a8b00;
    border-radius: 3px;
    padding: 5px;
    overflow-y: auto;
}

.sessionSprint.sprint-disponivel{
    border: 2px solid #1a8b00;
}

.sessionSprint.sprint-andamento{
    border: 2px solid #f1b200;
}

.sessionSprint.sprint-concluido{
    border: 2px solid #1500be;
}

.sprint{
    border: 1px solid #cf0600;
    border-radius: 6px;
    margin-bottom: 8px;
    width: 100%;
    height: auto;
    min-height: 100px;
    max-height: 100px;
    background: #ffeff6;
    padding:8px;
}

.sprint > .labelsprint{
    display: inline-block;
    line-height: normal;
    font-size: 13px;
}

.row{
    margin-bottom: 5px;
}