.titulo{
    border-bottom: 1px dotted #ccc!important;
}

.projectCard{
    border: 2px solid #b40b17;
    border-radius: 4px;
    background: #ffe5e7;
    text-align: center;
}

.itens-right-top{
    display: inline;
    margin-right: 5px;
    padding: 0px;
}

.table > thead > tr > th {
    background: #222;
    border: #222;
    color:white;
    text-align: center;
}

.table > tbody > tr > td{
    text-align: center;
}